body{
  min-width: 500px;
  _width: expression( document.body.clientWidth > 640 ? "640px" : "auto" ); /* IE */
  min-height: 450px;
  _height: expression( document.body.clientWidth > 480 ? "480px" : "auto" ); /* IE */
  }

div{
  color: black;
  }


.centeredImage{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  }

.textOutput{
  text-align: center;
  border-width: 0px;
  border-style: solid;
  }